TIMESPEC TS_CLK_40MHz = PERIOD "CLK_40MHz" 42 MHz HIGH 50 %;
NET "BC_padP" TNM_NET = CLK_40MHz;

TIMESPEC TS_CLK_160MHz = PERIOD "CLK_160MHz" TS_CLK_40MHz * 4 HIGH 50 %;
NET "CLK_padP" TNM_NET = CLK_padP;
