#################################################
####    H S I O    D D R     . u c f        ####
#################################################

NET DDR_DQ(15) LOC = "J12";
NET DDR_DQ(14) LOC = "H12";
NET DDR_DQ(13) LOC = "E7";
NET DDR_DQ(12) LOC = "E6";
NET DDR_DQ(11) LOC = "E13";
NET DDR_DQ(10) LOC = "E12";
NET DDR_DQ(9)  LOC = "E14";
NET DDR_DQ(8)  LOC = "D14";
NET DDR_DQ(7)  LOC = "F8";
NET DDR_DQ(6)  LOC = "J11";
NET DDR_DQ(5)  LOC = "J10";
NET DDR_DQ(4)  LOC = "G8";
NET DDR_DQ(3)  LOC = "G12";
NET DDR_DQ(2)  LOC = "G11";
NET DDR_DQ(1)  LOC = "J7";
NET DDR_DQ(0)  LOC = "K7";

NET DDR_BA(1) LOC = "G10";
NET DDR_BA(0) LOC = "H10";
NET DDR_ADDR(12) LOC = "D10";
NET DDR_ADDR(11) LOC = "C10";
NET DDR_ADDR(10) LOC = "F10";
NET DDR_ADDR(9) LOC = "F9";
NET DDR_ADDR(8) LOC = "H9";
NET DDR_ADDR(7) LOC = "F11";
NET DDR_ADDR(6) LOC = "E11";
NET DDR_ADDR(5) LOC = "D9";
NET DDR_ADDR(4) LOC = "E9";
NET DDR_ADDR(3) LOC = "D12";
NET DDR_ADDR(2) LOC = "D11";
NET DDR_ADDR(1) LOC = "C9";
NET DDR_ADDR(0) LOC = "C8";

NET DDR_CK LOC = "C7";
NET DDR_CLK_n LOC = "D7";
NET DDR_CLKE LOC = "E8";
NET DDR_CS_n LOC = "D6";
NET DDR_RAS_n LOC = "C5";
NET DDR_CAS_n LOC = "K13";
NET DDR_WE_n LOC = "K12";
NET DDR_LDQS LOC = "F6";
NET DDR_UDQS LOC = "D16";
NET DDR_LDM LOC = "K11";
NET DDR_UDM LOC = "L11";
